body{
    margin: 0px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

.navbar{
    list-style-type: none;
    background-color: rgb(17, 17, 31);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li{
    float: left;
}

.navbarleftside{
    float: left;
}

.navbarrightside{
    float: right;
}

.container {
    padding: 2px 16px;
}

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    gap: 20px;
    font-family: sans-serif;
    justify-content: start;
    height: 500px;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 100%; /* Set the width to 100% for small devices */
    height: auto; /* Set the height to auto for small devices */
}

/* Media query for devices with a minimum width of 600px */
@media (min-width: 600px) {
    .card {
        width: 300px; /* Set a fixed width for larger devices */
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.styled-link {
    color: rgb(17, 17, 31);
    text-decoration: none;
    font-weight: bold;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
}

.styled-link:hover {
    color: #fcc72b;
}

.class-info {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.class-info p {
    margin: 0 0 10px 0;
    line-height: 1.6;
}

.date-inputs {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.search-button {
    text-align: center;
    margin-bottom: 20px;
}

.search-button a {
    display: inline-block;
    padding: 10px;
    background-color: white;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.search-button a:hover {
    background-color: #444;
}

.redirect-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.redirect-button:hover {
    background-color: #e0e0e0;
}

.redirect-button img {
    height: 40px; /* Adjust as needed */
    width: 40px;  /* Adjust as needed */
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideIn {
    from { 
        transform: translateX(0); 
    }
    to { 
        transform: translateX(calc(-100% - 20px));
    }
}

@keyframes fadeOut {
    from { 
        opacity: 1;
    }
    to { 
        opacity: 0;
    }
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}

.animate {
    animation: slideIn 1s ease-out;
}